<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html :: head}"></head>

<body class="bg-light">
<div th:replace="~{fragments.html :: main-nav}"></div>

<div class="container">
    <div class="py-5 text-center">
        <h2>Create account</h2>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-6" action="#"
              th:action="@{/signup}" th:object="${signUpForm}" method="post" novalidate>
            <div class="form-group">
                <label for="nickname">Nickname</label>
                <input id="nickname" type="text" th:field="*{nickname}" class="form-control"
                       placeholder="imheeok" aria-describedby="nicknameHelp" required minlength="3" maxlength="20">
                <small id="nicknameHelp" class="form-text text-muted">
                    Please enter letters and numbers without spaces, between 3 and 20 characters in length.
                </small>
                <small class="invalid-feedback">Please choose a nickname.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname
                    Error</small>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="email" th:field="*{email}" class="form-control"
                       placeholder="your@email.com" aria-describedby="emailHelp" required>
                <small class="invalid-feedback">Please provide a valid email.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
                    Error</small>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" th:field="*{password}" class="form-control"
                       aria-describedby="passwordHelp" required minlength="8" maxlength="50">
                <small id="passwordHelp" class="form-text text-muted">
                    Please enter between 8 and 50 characters. You may use letters, numbers, and special characters, but spaces are not allowed.
                </small>
                <small class="invalid-feedback">Please choose a password.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
                    Error</small>
            </div>

            <div class="form-group">

                <small id="submitHelp" class="form-text text-muted">
                    If you agree to <a href="#">CarpoolHalle's terms and conditions</a>, please click the 'Sign Up' button.
                </small>

                <button class="btn btn-primary btn-block" type="submit"
                        aria-describedby="submitHelp">Sign Up
                </button>
            </div>
        </form>
    </div>

    <div th:replace="~{fragments.html :: footer}"></div>
</div>
<script scr="/node_modules/jquery/dist/jquery.min.js"></script>
<script scr="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="application/javascript">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>
</body>
</html>